TESTING = "{{ csf_testing }}"
TESTING_INTERVAL = "{{ csf_testing_interval }}"
RESTRICT_SYSLOG = "{{ csf_restrict_syslog }}"
RESTRICT_SYSLOG_GROUP = "{{ csf_restrict_syslog_group }}"
RESTRICT_UI = "{{ csf_restrict_ui }}"
AUTO_UPDATES = "{{ csf_auto_updates }}"
LF_SPI = "{{ csf_lf_spi }}"
TCP_IN = "{{ csf_tcp_in }}"
TCP_OUT = "{{ csf_tcp_out }}"
UDP_IN = "{{ csf_udp_in }}"
UDP_OUT = "{{ csf_udp_out }}"
ICMP_IN = "{{ csf_icmp_in }}"
ICMP_IN_RATE = "{{ csf_icmp_in_rate }}"
ICMP_OUT = "{{ csf_icmp_out }}"
ICMP_OUT_RATE = "{{ csf_icmp_out_rate }}"
ICMP_TIMESTAMPDROP = "{{ csf_icmp_timestampdrop }}"
IPV6 = "{{ csf_ipv6 }}"
IPV6_ICMP_STRICT = "{{ csf_ipv6_icmp_strict }}"
IPV6_SPI = "{{ csf_ipv6_spi }}"
TCP6_IN = "{{ csf_tcp6_in }}"
TCP6_OUT = "{{ csf_tcp6_out }}"
UDP6_IN = "{{ csf_udp6_in }}"
UDP6_OUT = "{{ csf_udp6_out }}"
ETH_DEVICE = "{{ csf_eth_device }}"
ETH6_DEVICE = "{{ csf_eth6_device }}"
ETH_DEVICE_SKIP = "{{ csf_eth_device_skip }}"
USE_CONNTRACK = "{{ csf_use_conntrack }}"
USE_FTPHELPER = "{{ csf_use_ftphelper }}"
SYSLOG_CHECK = "{{ csf_syslog_check }}"
IGNORE_ALLOW = "{{ csf_ignore_allow }}"
DNS_STRICT = "{{ csf_dns_strict }}"
DNS_STRICT_NS = "{{ csf_dns_strict_ns }}"
DENY_IP_LIMIT = "{{ csf_deny_ip_limit }}"
DENY_TEMP_IP_LIMIT = "{{ csf_deny_temp_ip_limit }}"
LF_DAEMON = "{{ csf_lf_daemon }}"
LF_CSF = "{{ csf_lf_csf }}"
FASTSTART = "{{ csf_faststart }}"
LF_IPSET = "{{ csf_lf_ipset }}"
WAITLOCK = "{{ csf_waitlock }}"
WAITLOCK_TIMEOUT = "{{ csf_waitlock_timeout }}"
LF_IPSET_HASHSIZE = "{{ csf_lf_ipset_hashsize }}"
LF_IPSET_MAXELEM = "{{ csf_lf_ipset_maxelem }}"
LFDSTART = "{{ csf_lfdstart }}"
VERBOSE = "{{ csf_verbose }}"
PACKET_FILTER = "{{ csf_packet_filter }}"
LF_LOOKUPS = "{{ csf_lf_lookups }}"
STYLE_CUSTOM = "{{ csf_style_custom }}"
STYLE_MOBILE = "{{ csf_style_mobile }}"
SMTP_BLOCK = "{{ csf_smtp_block }}"
SMTP_ALLOWLOCAL = "{{ csf_smtp_allowlocal }}"
SMTP_REDIRECT = "{{ csf_smtp_redirect }}"
SMTP_PORTS = "{{ csf_smtp_ports }}"
SMTP_ALLOWUSER = "{{ csf_smtp_allowuser }}"
SMTP_ALLOWGROUP = "{{ csf_smtp_allowgroup }}"
SMTPAUTH_RESTRICT = "{{ csf_smtpauth_restrict }}"
SYNFLOOD = "{{ csf_synflood }}"
SYNFLOOD_RATE = "{{ csf_synflood_rate }}"
SYNFLOOD_BURST = "{{ csf_synflood_burst }}"
CONNLIMIT = "{{ csf_connlimit }}"
PORTFLOOD = "{{ csf_portflood }}"
UDPFLOOD = "{{ csf_udpflood }}"
UDPFLOOD_LIMIT = "{{ csf_udpflood_limit }}"
UDPFLOOD_BURST = "{{ csf_udpflood_burst }}"
UDPFLOOD_ALLOWUSER = "{{ csf_udpflood_allowuser }}"
SYSLOG = "{{ csf_syslog }}"
DROP = "{{ csf_drop }}"
DROP_OUT = "{{ csf_drop_out }}"
DROP_LOGGING = "{{ csf_drop_logging }}"
DROP_IP_LOGGING = "{{ csf_drop_ip_logging }}"
DROP_OUT_LOGGING = "{{ csf_drop_out_logging }}"
DROP_UID_LOGGING = "{{ csf_drop_uid_logging }}"
DROP_ONLYRES = "{{ csf_drop_onlyres }}"
DROP_NOLOG = "{{ csf_drop_nolog }}"
DROP_PF_LOGGING = "{{ csf_drop_pf_logging }}"
CONNLIMIT_LOGGING = "{{ csf_connlimit_logging }}"
UDPFLOOD_LOGGING = "{{ csf_udpflood_logging }}"
LOGFLOOD_ALERT = "{{ csf_logflood_alert }}"
LF_ALERT_TO = "{{ csf_lf_alert_to }}"
LF_ALERT_FROM = "{{ csf_lf_alert_from }}"
LF_ALERT_SMTP = "{{ csf_lf_alert_smtp }}"
BLOCK_REPORT = "{{ csf_block_report }}"
UNBLOCK_REPORT = "{{ csf_unblock_report }}"
X_ARF = "{{ csf_x_arf }}"
X_ARF_FROM = "{{ csf_x_arf_from }}"
X_ARF_TO = "{{ csf_x_arf_to }}"
X_ARF_ABUSE = "{{ csf_x_arf_abuse }}"
LF_PERMBLOCK = "{{ csf_lf_permblock }}"
LF_PERMBLOCK_INTERVAL = "{{ csf_lf_permblock_interval }}"
LF_PERMBLOCK_COUNT = "{{ csf_lf_permblock_count }}"
LF_PERMBLOCK_ALERT = "{{ csf_lf_permblock_alert }}"
LF_NETBLOCK = "{{ csf_lf_netblock }}"
LF_NETBLOCK_INTERVAL = "{{ csf_lf_netblock_interval }}"
LF_NETBLOCK_COUNT = "{{ csf_lf_netblock_count }}"
LF_NETBLOCK_CLASS = "{{ csf_lf_netblock_class }}"
LF_NETBLOCK_ALERT = "{{ csf_lf_netblock_alert }}"
LF_NETBLOCK_IPV6 = "{{ csf_lf_netblock_ipv6 }}"
SAFECHAINUPDATE = "{{ csf_safechainupdate }}"
DYNDNS = "{{ csf_dyndns }}"
DYNDNS_IGNORE = "{{ csf_dyndns_ignore }}"
LF_GLOBAL = "{{ csf_lf_global }}"
GLOBAL_ALLOW = "{{ csf_global_allow }}"
GLOBAL_DENY = "{{ csf_global_deny }}"
GLOBAL_IGNORE = "{{ csf_global_ignore }}"
GLOBAL_DYNDNS = "{{ csf_global_dyndns }}"
GLOBAL_DYNDNS_INTERVAL = "{{ csf_global_dyndns_interval }}"
GLOBAL_DYNDNS_IGNORE = "{{ csf_global_dyndns_ignore }}"
LF_BOGON_SKIP = "{{ csf_lf_bogon_skip }}"
URLGET = "{{ csf_urlget }}"
URLPROXY = "{{ csf_urlproxy }}"
MM_LICENSE_KEY = "{{ csf_mm_license_key }}"
CC_SRC = "{{ csf_cc_src }}"
CC_DENY = "{{ csf_cc_deny }}"
CC_ALLOW = "{{ csf_cc_allow }}"
CC_ALLOW_FILTER = "{{ csf_cc_allow_filter }}"
CC_ALLOW_PORTS = "{{ csf_cc_allow_ports }}"
CC_ALLOW_PORTS_TCP = "{{ csf_cc_allow_ports_tcp }}"
CC_ALLOW_PORTS_UDP = "{{ csf_cc_allow_ports_udp }}"
CC_DENY_PORTS = "{{ csf_cc_deny_ports }}"
CC_DENY_PORTS_TCP = "{{ csf_cc_deny_ports_tcp }}"
CC_DENY_PORTS_UDP = "{{ csf_cc_deny_ports_udp }}"
CC_IGNORE = "{{ csf_cc_ignore }}"
CC_ALLOW_SMTPAUTH = "{{ csf_cc_allow_smtpauth }}"
CC_MESSENGER_ALLOW = "{{ csf_cc_messenger_allow }}"
CC_MESSENGER_DENY = "{{ csf_cc_messenger_deny }}"
CC_DROP_CIDR = "{{ csf_cc_drop_cidr }}"
CC_LOOKUPS = "{{ csf_cc_lookups }}"
CC6_LOOKUPS = "{{ csf_cc6_lookups }}"
CC_INTERVAL = "{{ csf_cc_interval }}"
LF_TRIGGER = "{{ csf_lf_trigger }}"
LF_TRIGGER_PERM = "{{ csf_lf_trigger_perm }}"
LF_SELECT = "{{ csf_lf_select }}"
LF_EMAIL_ALERT = "{{ csf_lf_email_alert }}"
LF_TEMP_EMAIL_ALERT = "{{ csf_lf_temp_email_alert }}"
LF_SSHD = "{{ csf_lf_sshd }}"
LF_SSHD_PERM = "{{ csf_lf_sshd_perm }}"
LF_FTPD = "{{ csf_lf_ftpd }}"
LF_FTPD_PERM = "{{ csf_lf_ftpd_perm }}"
LF_SMTPAUTH = "{{ csf_lf_smtpauth }}"
LF_SMTPAUTH_PERM = "{{ csf_lf_smtpauth_perm }}"
LF_EXIMSYNTAX = "{{ csf_lf_eximsyntax }}"
LF_EXIMSYNTAX_PERM = "{{ csf_lf_eximsyntax_perm }}"
LF_POP3D = "{{ csf_lf_pop3d }}"
LF_POP3D_PERM = "{{ csf_lf_pop3d_perm }}"
LF_IMAPD = "{{ csf_lf_imapd }}"
LF_IMAPD_PERM = "{{ csf_lf_imapd_perm }}"
LF_HTACCESS = "{{ csf_lf_htaccess }}"
LF_HTACCESS_PERM = "{{ csf_lf_htaccess_perm }}"
LF_MODSEC = "{{ csf_lf_modsec }}"
LF_MODSEC_PERM = "{{ csf_lf_modsec_perm }}"
LF_BIND = "{{ csf_lf_bind }}"
LF_BIND_PERM = "{{ csf_lf_bind_perm }}"
LF_SUHOSIN = "{{ csf_lf_suhosin }}"
LF_SUHOSIN_PERM = "{{ csf_lf_suhosin_perm }}"
LF_CXS = "{{ csf_lf_cxs }}"
LF_CXS_PERM = "{{ csf_lf_cxs_perm }}"
LF_QOS = "{{ csf_lf_qos }}"
LF_QOS_PERM = "{{ csf_lf_qos_perm }}"
LF_SYMLINK = "{{ csf_lf_symlink }}"
LF_SYMLINK_PERM = "{{ csf_lf_symlink_perm }}"
LF_WEBMIN = "{{ csf_lf_webmin }}"
LF_WEBMIN_PERM = "{{ csf_lf_webmin_perm }}"
LF_SSH_EMAIL_ALERT = "{{ csf_lf_ssh_email_alert }}"
LF_SU_EMAIL_ALERT = "{{ csf_lf_su_email_alert }}"
LF_SUDO_EMAIL_ALERT = "{{ csf_lf_sudo_email_alert }}"
LF_WEBMIN_EMAIL_ALERT = "{{ csf_lf_webmin_email_alert }}"
LF_CONSOLE_EMAIL_ALERT = "{{ csf_lf_console_email_alert }}"
LF_APACHE_404 = "{{ csf_lf_apache_404 }}"
LF_APACHE_404_PERM = "{{ csf_lf_apache_404_perm }}"
LF_APACHE_403 = "{{ csf_lf_apache_403 }}"
LF_APACHE_403_PERM = "{{ csf_lf_apache_403_perm }}"
LF_APACHE_401 = "{{ csf_lf_apache_401 }}"
LF_APACHE_ERRPORT = "{{ csf_lf_apache_errport }}"
LF_APACHE_401_PERM = "{{ csf_lf_apache_401_perm }}"
LF_MODSECIPDB_ALERT = "{{ csf_lf_modsecipdb_alert }}"
LF_MODSECIPDB_FILE = "{{ csf_lf_modsecipdb_file }}"
LF_EXPLOIT = "{{ csf_lf_exploit }}"
LF_EXPLOIT_IGNORE = "{{ csf_lf_exploit_ignore }}"
LF_INTERVAL = "{{ csf_lf_interval }}"
LF_PARSE = "{{ csf_lf_parse }}"
LF_FLUSH = "{{ csf_lf_flush }}"
LF_REPEATBLOCK = "{{ csf_lf_repeatblock }}"
LF_BLOCKINONLY = "{{ csf_lf_blockinonly }}"
CF_ENABLE = "{{ csf_cf_enable }}"
CF_BLOCK = "{{ csf_cf_block }}"
CF_TEMP = "{{ csf_cf_temp }}"
LF_DIRWATCH = "{{ csf_lf_dirwatch }}"
LF_DIRWATCH_DISABLE = "{{ csf_lf_dirwatch_disable }}"
LF_DIRWATCH_FILE = "{{ csf_lf_dirwatch_file }}"
LF_INTEGRITY = "{{ csf_lf_integrity }}"
LF_DISTATTACK = "{{ csf_lf_distattack }}"
LF_DISTATTACK_UNIQ = "{{ csf_lf_distattack_uniq }}"
LF_DISTFTP = "{{ csf_lf_distftp }}"
LF_DISTFTP_UNIQ = "{{ csf_lf_distftp_uniq }}"
LF_DISTFTP_PERM = "{{ csf_lf_distftp_perm }}"
LF_DISTFTP_ALERT = "{{ csf_lf_distftp_alert }}"
LF_DISTSMTP = "{{ csf_lf_distsmtp }}"
LF_DISTSMTP_UNIQ = "{{ csf_lf_distsmtp_uniq }}"
LF_DISTSMTP_PERM = "{{ csf_lf_distsmtp_perm }}"
LF_DISTSMTP_ALERT = "{{ csf_lf_distsmtp_alert }}"
LF_DIST_INTERVAL = "{{ csf_lf_dist_interval }}"
LF_DIST_ACTION = "{{ csf_lf_dist_action }}"
LT_POP3D = "{{ csf_lt_pop3d }}"
LT_IMAPD = "{{ csf_lt_imapd }}"
LT_EMAIL_ALERT = "{{ csf_lt_email_alert }}"
LT_SKIPPERMBLOCK = "{{ csf_lt_skippermblock }}"
CT_LIMIT = "{{ csf_ct_limit }}"
CT_INTERVAL = "{{ csf_ct_interval }}"
CT_EMAIL_ALERT = "{{ csf_ct_email_alert }}"
CT_PERMANENT = "{{ csf_ct_permanent }}"
CT_BLOCK_TIME = "{{ csf_ct_block_time }}"
CT_SKIP_TIME_WAIT = "{{ csf_ct_skip_time_wait }}"
CT_STATES = "{{ csf_ct_states }}"
CT_PORTS = "{{ csf_ct_ports }}"
CT_SUBNET_LIMIT = "{{ csf_ct_subnet_limit }}"
PT_LIMIT = "{{ csf_pt_limit }}"
PT_INTERVAL = "{{ csf_pt_interval }}"
PT_SKIP_HTTP = "{{ csf_pt_skip_http }}"
PT_DELETED = "{{ csf_pt_deleted }}"
PT_DELETED_ACTION = "{{ csf_pt_deleted_action }}"
PT_USERPROC = "{{ csf_pt_userproc }}"
PT_USERMEM = "{{ csf_pt_usermem }}"
PT_USERRSS = "{{ csf_pt_userrss }}"
PT_USERTIME = "{{ csf_pt_usertime }}"
PT_USERKILL = "{{ csf_pt_userkill }}"
PT_USERKILL_ALERT = "{{ csf_pt_userkill_alert }}"
PT_USER_ACTION = "{{ csf_pt_user_action }}"
PT_LOAD = "{{ csf_pt_load }}"
PT_LOAD_AVG = "{{ csf_pt_load_avg }}"
PT_LOAD_LEVEL = "{{ csf_pt_load_level }}"
PT_LOAD_SKIP = "{{ csf_pt_load_skip }}"
PT_APACHESTATUS = "{{ csf_pt_apachestatus }}"
PT_LOAD_ACTION = "{{ csf_pt_load_action }}"
PT_FORKBOMB = "{{ csf_pt_forkbomb }}"
PT_SSHDKILL = "{{ csf_pt_sshdkill }}"
PT_SSHDHUNG = "{{ csf_pt_sshdhung }}"
PS_INTERVAL = "{{ csf_ps_interval }}"
PS_LIMIT = "{{ csf_ps_limit }}"
PS_PORTS = "{{ csf_ps_ports }}"
PS_DIVERSITY = "{{ csf_ps_diversity }}"
PS_PERMANENT = "{{ csf_ps_permanent }}"
PS_BLOCK_TIME = "{{ csf_ps_block_time }}"
PS_EMAIL_ALERT = "{{ csf_ps_email_alert }}"
UID_INTERVAL = "{{ csf_uid_interval }}"
UID_LIMIT = "{{ csf_uid_limit }}"
UID_PORTS = "{{ csf_uid_ports }}"
AT_ALERT = "{{ csf_at_alert }}"
AT_INTERVAL = "{{ csf_at_interval }}"
AT_NEW = "{{ csf_at_new }}"
AT_OLD = "{{ csf_at_old }}"
AT_PASSWD = "{{ csf_at_passwd }}"
AT_UID = "{{ csf_at_uid }}"
AT_GID = "{{ csf_at_gid }}"
AT_DIR = "{{ csf_at_dir }}"
AT_SHELL = "{{ csf_at_shell }}"
UI = "{{ csf_ui }}"
UI_PORT = "{{ csf_ui_port }}"
UI_IP = "{{ csf_ui_ip }}"
UI_USER = "{{ csf_ui_user }}"
UI_PASS = "{{ csf_ui_pass }}"
UI_TIMEOUT = "{{ csf_ui_timeout }}"
UI_CHILDREN = "{{ csf_ui_children }}"
UI_RETRY = "{{ csf_ui_retry }}"
UI_BAN = "{{ csf_ui_ban }}"
UI_ALLOW = "{{ csf_ui_allow }}"
UI_BLOCK = "{{ csf_ui_block }}"
UI_ALERT = "{{ csf_ui_alert }}"
UI_CIPHER = "{{ csf_ui_cipher }}"
UI_SSL_VERSION = "{{ csf_ui_ssl_version }}"
UI_CXS = "{{ csf_ui_cxs }}"
UI_CSE = "{{ csf_ui_cse }}"
MESSENGER = "{{ csf_messenger }}"
MESSENGER_TEMP = "{{ csf_messenger_temp }}"
MESSENGER_PERM = "{{ csf_messenger_perm }}"
MESSENGER_USER = "{{ csf_messenger_user }}"
MESSENGER_HTTPS_CONF = "{{ csf_messenger_https_conf }}"
MESSENGER_HTTPS_KEY = "{{ csf_messenger_https_key }}"
MESSENGER_HTTPS_CRT = "{{ csf_messenger_https_crt }}"
MESSENGER_HTTPS = "{{ csf_messenger_https }}"
MESSENGER_HTTPS_IN = "{{ csf_messenger_https_in }}"
MESSENGER_HTML = "{{ csf_messenger_html }}"
MESSENGER_HTML_IN = "{{ csf_messenger_html_in }}"
MESSENGER_TEXT = "{{ csf_messenger_text }}"
MESSENGER_TEXT_IN = "{{ csf_messenger_text_in }}"
MESSENGER_RATE = "{{ csf_messenger_rate }}"
MESSENGER_BURST = "{{ csf_messenger_burst }}"
MESSENGER_CHILDREN = "{{ csf_messenger_children }}"
MESSENGER_HTTPS_SKIPMAIL = "{{ csf_messenger_https_skipmail }}"
MESSENGERV3 = "{{ csf_messengerv3 }}"
MESSENGERV3LOCATION = "{{ csf_messengerv3location }}"
MESSENGERV3RESTART = "{{ csf_messengerv3restart }}"
MESSENGERV3TEST = "{{ csf_messengerv3test }}"
MESSENGERV3HTTPS_CONF = "{{ csf_messengerv3https_conf }}"
MESSENGERV3WEBSERVER = "{{ csf_messengerv3webserver }}"
MESSENGERV3PERMS = "{{ csf_messengerv3perms }}"
MESSENGERV3GROUP = "{{ csf_messengerv3group }}"
MESSENGERV3PHPHANDLER = "{{ csf_messengerv3phphandler }}"
RECAPTCHA_SITEKEY = "{{ csf_recaptcha_sitekey }}"
RECAPTCHA_SECRET = "{{ csf_recaptcha_secret }}"
RECAPTCHA_ALERT = "{{ csf_recaptcha_alert }}"
RECAPTCHA_NAT = "{{ csf_recaptcha_nat }}"
CLUSTER_SENDTO = "{{ csf_cluster_sendto }}"
CLUSTER_RECVFROM = "{{ csf_cluster_recvfrom }}"
CLUSTER_MASTER = "{{ csf_cluster_master }}"
CLUSTER_NAT = "{{ csf_cluster_nat }}"
CLUSTER_LOCALADDR = "{{ csf_cluster_localaddr }}"
CLUSTER_PORT = "{{ csf_cluster_port }}"
CLUSTER_KEY = "{{ csf_cluster_key }}"
CLUSTER_BLOCK = "{{ csf_cluster_block }}"
CLUSTER_CONFIG = "{{ csf_cluster_config }}"
CLUSTER_CHILDREN = "{{ csf_cluster_children }}"
PORTKNOCKING = "{{ csf_portknocking }}"
PORTKNOCKING_LOG = "{{ csf_portknocking_log }}"
PORTKNOCKING_ALERT = "{{ csf_portknocking_alert }}"
LOGSCANNER = "{{ csf_logscanner }}"
LOGSCANNER_INTERVAL = "{{ csf_logscanner_interval }}"
LOGSCANNER_STYLE = "{{ csf_logscanner_style }}"
LOGSCANNER_EMPTY = "{{ csf_logscanner_empty }}"
LOGSCANNER_LINES = "{{ csf_logscanner_lines }}"
ST_ENABLE = "{{ csf_st_enable }}"
ST_IPTABLES = "{{ csf_st_iptables }}"
ST_LOOKUP = "{{ csf_st_lookup }}"
ST_SYSTEM = "{{ csf_st_system }}"
ST_SYSTEM_MAXDAYS = "{{ csf_st_system_maxdays }}"
ST_MYSQL = "{{ csf_st_mysql }}"
ST_MYSQL_USER = "{{ csf_st_mysql_user }}"
ST_MYSQL_PASS = "{{ csf_st_mysql_pass }}"
ST_MYSQL_HOST = "{{ csf_st_mysql_host }}"
ST_APACHE = "{{ csf_st_apache }}"
ST_DISKW = "{{ csf_st_diskw }}"
ST_DISKW_FREQ = "{{ csf_st_diskw_freq }}"
ST_DISKW_DD = "{{ csf_st_diskw_dd }}"
DOCKER = "{{ csf_docker }}"
DOCKER_DEVICE = "{{ csf_docker_device }}"
DOCKER_NETWORK4 = "{{ csf_docker_network4 }}"
DOCKER_NETWORK6 = "{{ csf_docker_network6 }}"
IPTABLES = "{{ csf_iptables }}"
IPTABLES_SAVE = "{{ csf_iptables_save }}"
IPTABLES_RESTORE = "{{ csf_iptables_restore }}"
IP6TABLES = "{{ csf_ip6tables }}"
IP6TABLES_SAVE = "{{ csf_ip6tables_save }}"
IP6TABLES_RESTORE = "{{ csf_ip6tables_restore }}"
MODPROBE = "{{ csf_modprobe }}"
IFCONFIG = "{{ csf_ifconfig }}"
SENDMAIL = "{{ csf_sendmail }}"
PS = "{{ csf_ps }}"
VMSTAT = "{{ csf_vmstat }}"
NETSTAT = "{{ csf_netstat }}"
LS = "{{ csf_ls }}"
MD5SUM = "{{ csf_md5sum }}"
TAR = "{{ csf_tar }}"
CHATTR = "{{ csf_chattr }}"
UNZIP = "{{ csf_unzip }}"
GUNZIP = "{{ csf_gunzip }}"
DD = "{{ csf_dd }}"
TAIL = "{{ csf_tail }}"
GREP = "{{ csf_grep }}"
ZGREP = "{{ csf_zgrep }}"
IPSET = "{{ csf_ipset }}"
SYSTEMCTL = "{{ csf_systemctl }}"
HOST = "{{ csf_host }}"
IP = "{{ csf_ip }}"
CURL = "{{ csf_curl }}"
WGET = "{{ csf_wget }}"
HTACCESS_LOG = "{{ csf_htaccess_log }}"
MODSEC_LOG = "{{ csf_modsec_log }}"
SSHD_LOG = "{{ csf_sshd_log }}"
SU_LOG = "{{ csf_su_log }}"
SUDO_LOG = "{{ csf_sudo_log }}"
FTPD_LOG = "{{ csf_ftpd_log }}"
SMTPAUTH_LOG = "{{ csf_smtpauth_log }}"
POP3D_LOG = "{{ csf_pop3d_log }}"
IMAPD_LOG = "{{ csf_imapd_log }}"
IPTABLES_LOG = "{{ csf_iptables_log }}"
SUHOSIN_LOG = "{{ csf_suhosin_log }}"
BIND_LOG = "{{ csf_bind_log }}"
SYSLOG_LOG = "{{ csf_syslog_log }}"
WEBMIN_LOG = "{{ csf_webmin_log }}"
CUSTOM1_LOG = "{{ csf_custom1_log }}"
CUSTOM2_LOG = "{{ csf_custom2_log }}"
CUSTOM3_LOG = "{{ csf_custom3_log }}"
CUSTOM4_LOG = "{{ csf_custom4_log }}"
CUSTOM5_LOG = "{{ csf_custom5_log }}"
CUSTOM6_LOG = "{{ csf_custom6_log }}"
CUSTOM7_LOG = "{{ csf_custom7_log }}"
CUSTOM8_LOG = "{{ csf_custom8_log }}"
CUSTOM9_LOG = "{{ csf_custom9_log }}"
PORTS_pop3d = "{{ csf_ports_pop3d }}"
PORTS_imapd = "{{ csf_ports_imapd }}"
PORTS_htpasswd = "{{ csf_ports_htpasswd }}"
PORTS_mod_security = "{{ csf_ports_mod_security }}"
PORTS_mod_qos = "{{ csf_ports_mod_qos }}"
PORTS_symlink = "{{ csf_ports_symlink }}"
PORTS_suhosin = "{{ csf_ports_suhosin }}"
PORTS_cxs = "{{ csf_ports_cxs }}"
PORTS_bind = "{{ csf_ports_bind }}"
PORTS_ftpd = "{{ csf_ports_ftpd }}"
PORTS_webmin = "{{ csf_ports_webmin }}"
PORTS_smtpauth = "{{ csf_ports_smtpauth }}"
PORTS_eximsyntax = "{{ csf_ports_eximsyntax }}"
PORTS_sshd = "{{ csf_ports_sshd }}"
GENERIC = "{{ csf_generic }}"
DEBUG = "{{ csf_debug }}"
